doctype html
html
  
  head
    title Christian Songs for Little Children
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    //- Stylesheets and things
    link(rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css")
    link(rel="stylesheet", href="styles/main.css")
  
  body
    #page
      != yield
