doctype html
html
  
  head
    title Christian Songs for Little Children
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    //- Stylesheets and things
    link(rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css")
    link(rel="stylesheet", href="styles/main.css")
  
  body

    #layout
      a#menuLink.menu-link(href="#menu")
        span

      #menu
        .pure-menu
          a#homeLink.pure-menu-heading(href="/") Songs
          ul.pure-menu-list.navigation
            each song in songs
              //- li classes: menu-item-divided pure-menu-selected
              li.pure-menu-item
                a.pure-menu-link(href="##{song.id}") #{song.title}

      #main 
        .header
          h1 Christian Songs
          h2 for Little Children
        .content
          != yield
        
    script(src="scripts/ui.js")
